@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  .base1-page {
    @apply bg-base1 -text-base1;
  }

  .base2-page {
    @apply bg-base2 -text-base2;
  }

  html {
    @apply h-full;
    scroll-behavior: smooth;
  }
  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    @apply font-mono;
  }

  .label {
    @apply my-2
    block
    text-base
    font-bold
    uppercase
    tracking-wide;
  }
  .input {
    @apply w-full
    rounded
    border
    border-b-2
    border-r-2
    py-3
    px-4
    leading-tight
    file:-my-2
    file:ml-2
    file:w-0
    file:translate-y-2
    file:cursor-pointer
    file:border-none
    file:bg-attachment
    file:bg-no-repeat
    file:px-6
    file:py-2
    focus:outline-none
    focus:ring-0
    disabled:bg-opacity-80
    disabled:text-opacity-80;
  }

  .base1-page .input {
    @apply border-base1-border/75
    bg-base1-card
    -text-base1-card
    file:bg-base1-card
    file:text-base1-card
    focus:border-accent1
    focus:bg-base2
    focus:-text-base2
    file:focus:bg-base2
    file:focus:text-base2
    disabled:border-base1-border/50;
  }
  .base1-page .label {
    @apply -text-base1-card;
  }

  .base2-page .input {
    @apply border-base2-border/75
    bg-base2-card
    -text-base2-card
    file:bg-base2-card
    file:text-base2-card
    focus:border-accent1
    focus:bg-base1
    focus:-text-base1
    file:focus:bg-base1
    file:focus:text-base1
    disabled:border-base2-border/50;
  }
  .base2-page .label {
    @apply -text-base2-card;
  }

  .button {
    @apply rounded-lg
    py-2
    px-4
    duration-150
    focus:ring-1
    focus:ring-offset-2;
  }

  .base1-page .button {
    @apply focus:-ring-base1 focus:ring-offset-base1;
  }

  .base2-page .button {
    @apply focus:-ring-base2 focus:ring-offset-base2;
  }

  :root {
    --message-bg: 219 234 254;
    --message-text: 29 78 216;
    --message-hover-button: 30 64 175;
    --message-hover-button-text: 255 255 255;
    --message-focus-ring: 147 197 253;

    --message-dark-bg: 191 219 254;
    --message-dark-text: 30 64 175;
    --message-dark-hover-button: 30 64 175;
    --message-dark-hover-button-text: 255 255 255;
    --message-dark-focus-ring: 147 197 253;
  }
  .danger {
    --message-bg: 254 226 226;
    --message-text: 185 28 28;
    --message-hover-button: 153 27 27;
    --message-hover-button-text: 255 255 255;
    --message-focus-ring: 252 165 165;

    --message-dark-bg: 254 202 202;
    --message-dark-text: 153 27 27;
    --message-dark-hover-button: 153 27 27;
    --message-dark-hover-button-text: 255 255 255;
    --message-dark-focus-ring: 252 165 165;
  }
  .success {
    --message-bg: 187 247 208;
    --message-text: 22 101 52;
    --message-hover-button: 22 101 52;
    --message-hover-button-text: 255 255 255;
    --message-focus-ring: 134 239 172;

    --message-dark-bg: 220 252 231;
    --message-dark-text: 21 128 61;
    --message-dark-hover-button: 22 101 52;
    --message-dark-hover-button-text: 255 255 255;
    --message-dark-focus-ring: 134 239 172;
  }
  .warning {
    --message-bg: 254 249 195;
    --message-text: 161 98 7;
    --message-hover-button: 133 77 14;
    --message-hover-button-text: 255 255 255;
    --message-focus-ring: 253 224 71;

    --message-dark-bg: 254 240 138;
    --message-dark-text: 133 77 14;
    --message-dark-hover-button: 133 77 14;
    --message-dark-hover-button-text: 255 255 255;
    --message-dark-focus-ring: 253 224 71;
  }

  .card {
    @apply rounded-lg;
  }

  .base1-page .card {
    @apply rounded
    border-none
    bg-base1-card
    -text-base1-card
    drop-shadow-lg;
  }

  .base2-page .card {
    @apply border
    border-r-2
    border-b-2
    border-accent2/25
    bg-base2-card
    -text-base2-card;
  }

  .clickable-card {
    @apply card cursor-pointer duration-200;
  }

  .base1-page .clickable-card {
    @apply hover:drop-shadow-2xl;
  }

  .base2-page .clickable-card {
    @apply border
    border-base2-border/50 hover:border-b-4 hover:border-r-4;
  }

  .outline-button {
    @apply button border border-b-2 border-r-2;
  }

  .base2-page .outline-button {
    @apply border-base2-border hover:bg-base2-hover hover:-text-base2;
  }

  .base1-page .outline-button {
    @apply border-base1-border hover:bg-base1-hover hover:-text-base1;
  }

  .typography {
    @apply prose
    min-w-full
    px-5
    pb-10
    pt-10
    prose-h1:-mb-4
    prose-h1:border-b
    prose-h1:pb-4
    prose-h2:underline
    prose-h2:underline-offset-2
    prose-ul:list-inside md:px-24;
  }
}
