@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  [type="text"],
  [type="email"],
  [type="url"],
  [type="password"],
  [type="number"],
  [type="file"],
  textarea,
  select {
    @apply w-full
    rounded
    border
    border-b-2
    border-r-2
    border-base1-border/75
    bg-base1-none
    py-3
    px-4
    leading-tight
    -text-base1-none
    file:-my-2
    file:ml-2
    file:w-0
    file:translate-y-2
    file:cursor-pointer
    file:border-none
    file:bg-base1-none
    file:bg-attachment
    file:bg-no-repeat
    file:px-6
    file:py-2
    file:text-base1-none
    focus:border-accent1
    focus:bg-base2
    focus:-text-base2
    focus:outline-none
    focus:ring-0
    file:focus:bg-base2
    file:focus:text-base2
    disabled:border-base1-border/50
    disabled:bg-base1-drawer
    disabled:-text-base1-drawer;
  }

  label {
    @apply my-2
    block
    text-base
    font-bold
    uppercase
    tracking-wide
    -text-base1-none;
  }

  :root {
    --message-bg: 219 234 254;
    --message-text: 29 78 216;
    --message-hover-button: 30 64 175;
    --message-hover-button-text: 255 255 255;
    --message-focus-ring: 147 197 253;

    --message-dark-bg: 191 219 254;
    --message-dark-text: 30 64 175;
    --message-dark-hover-button: 30 64 175;
    --message-dark-hover-button-text: 255 255 255;
    --message-dark-focus-ring: 147 197 253;
  }
  .danger {
    --message-bg: 254 226 226;
    --message-text: 185 28 28;
    --message-hover-button: 153 27 27;
    --message-hover-button-text: 255 255 255;
    --message-focus-ring: 252 165 165;

    --message-dark-bg: 254 202 202;
    --message-dark-text: 153 27 27;
    --message-dark-hover-button: 153 27 27;
    --message-dark-hover-button-text: 255 255 255;
    --message-dark-focus-ring: 252 165 165;
  }
  .success {
    --message-bg: 187 247 208;
    --message-text: 22 101 52;
    --message-hover-button: 22 101 52;
    --message-hover-button-text: 255 255 255;
    --message-focus-ring: 134 239 172;

    --message-dark-bg: 220 252 231;
    --message-dark-text: 21 128 61;
    --message-dark-hover-button: 22 101 52;
    --message-dark-hover-button-text: 255 255 255;
    --message-dark-focus-ring: 134 239 172;
  }
  .warning {
    --message-bg: 254 249 195;
    --message-text: 161 98 7;
    --message-hover-button: 133 77 14;
    --message-hover-button-text: 255 255 255;
    --message-focus-ring: 253 224 71;

    --message-dark-bg: 254 240 138;
    --message-dark-text: 133 77 14;
    --message-dark-hover-button: 133 77 14;
    --message-dark-hover-button-text: 255 255 255;
    --message-dark-focus-ring: 253 224 71;
  }
}
html {
  @apply h-full bg-base1-page -text-base1-page;
  scroll-behavior: smooth;
}
